.placeholder--text-small{
  width: 32px;
  height: 25px;
  border-radius: 4px;
}

.placeholder--text-normal{
  width: 120px;
  height: 25px;
  border-radius: 4px;
}

.placeholder.btn.btn-secondary.disabled{
  width: 100px;
}